<html>
    <head>
        <meta charset="UTF-8"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <ul>
                <li v-for="(color, index) in colors" :key="color">{{index + 1}}) {{color}}</li>
            </ul>
            <button @click="colors.push('white')">Add</button>
            <hr>
            <ul>
                <template v-for="(color, index) in colors">
                    <li>{{index + 1}}) {{color}}</li>
                </template>
            </ul>
            <hr>
            <ul>
                <li v-for="person in people">
                    <div v-for="(value, key, index) in person">
                       {{index + 1}}) {{key}} = {{value}}
                    </div>
                    <br>
                </li>
            </ul>
            <hr>
            <div v-for="n in 10">{{n}}</div>
        </div>
    </body>
    <script>
        new Vue({
            el: '#app',
            data:{
                colors: ['red', 'green', 'yellow', 'blue'],
                people: [
                    {name: 'Ana', age: 26, weight: 59},
                    {name: 'Robson', age: 30, weight: 80},
                ]
            }
        })
    </script>
    <style>
        ul{
            list-style: none;
        }
        p{
            display: inline;
        }
    </style>
</html>